// 1. Colors
$color-black: #000 !default;
$color-white: #fff !default;
$color-gray: #828282 !default;
$color-red: #FC2727 !default;

// Background
$background-default: #fff !default;

// Border color
$border-color-white: $color-white !default;
$border-color-black: $color-black !default;